.titleContainer{
    margin-bottom: 40px;
}
.upperLower{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    align-items: center;
   
}
.content{
    margin-left: 30px;
}
.mainContainer{
    display: flex;
    flex-direction: row;
}
.button{
    border-radius: 15px;
    border-width: 3px;
    border-color: black;
    background-color: black;
    width: 80px;
    height: 40px;
    margin-left: 10px;
}
.annotation{
    color:black;
    font-size: 25px;
}
#price{
    font-size: 30px;
    font-weight: 700;
    color:black;

}
#description{
    font-weight: 600;
    color:black;
    font-size: 18px;
}